:root {
  --outline-width: 0px;
  --arrow-bg: #010314;
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: #010314;
}

/* Content Card */

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.content-card {
  /* backdrop-filter: blur(2px); */
  /* background-color: rgba(255, 255, 255, 0.1); */
  border-radius: 10px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 70vh;
  padding: 20px;
  margin: 200px;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  z-index: 99;
}

#greeting-card {
  backdrop-filter: none;
  background-color: transparent;
  box-shadow: none;
  height: 90vh;
  /* Exact height of navbar */
  margin-top: calc(-120px + -2rem);
}

/* Greeting */
.greeting {
  z-index: 1;
  /* Font */
  font-size: 3rem;
  font-weight: 700;
  font-family: monospace;
  color: white;
  /* Animation */
  width: 14ch;
  animation: typing 2s steps(14), caret 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid white;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.samir {
  color: #7241ff;
  transition: all 0.3s ease-in-out;
}

.samir:hover {
  color: #00ffcc;
}

/* Media Queries */
@media screen and (max-width: 380px) {
  .greeting {
    font-size: 2rem;
  }
}
