#contact-card {
  font-family: "Nunito";
}

#contact-card form {
  width: max-content;
  /* margin: 20px auto; */
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

#contact-card h1 {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

.greeting-wrapper {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.contact-greeting {
  color: white;
  width: 103ch;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 18px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  width: 200px;
  color: white;
  opacity: 95%;
}

.input {
  flex: 1;
}

#contact-card input[type="text"],
#contact-card input[type="email"],
#contact-card textarea {
  min-width: 200px;
  width: 30vw;
  padding: 8px;
  border: 3px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.95);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  opacity: 0.95;
}

#contact-card textarea {
  height: 100px;
}

#contact-card input[type="text"]:focus,
#contact-card input[type="email"]:focus,
#contact-card textarea:focus {
  outline: none;
  border-color: #7241ff;
  box-shadow: 0 0 5px #7241ff;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.invalid {
  border-color: rgba(255, 0, 0, 0.8) !important;
}

.valid {
  border-color: #00ca14 !important;
  opacity: 95%;
}

.message {
  color: white;
  font-size: 1.1rem;
  margin-top: 10px;
  text-align: center;
  font-family: monospace;
}

#contact-card input[type="submit"] {
  min-width: 100px;
  width: fit-content;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #00ffcc;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  opacity: 95%;
}

#contact-card input[type="submit"]:hover {
  background-color: #f7c974;
}

#contact-card input[type="submit"]:active {
  background-color: #f7c974;
  box-shadow: 0 0 5px #f7c974;
}

#contact-card input[type="submit"]:focus {
  outline: none;
}

#contact-card input[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.hidden {
  display: none;
}

/* Make greeting and error overflow to next line on smaller screens */
@media screen and (max-width: 1100px) {
  .contact-greeting {
    max-width: 80vw;
    white-space: normal;
    height: fit-content;
    border-right: 0px;
  }
  .message {
    max-width: 80vw;
  }
}

/* Move form labels above inputs on smaller screens */
@media screen and (max-width: 650px) {
  #contact-card {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(119, 68, 255, 0.7);
    z-index: 1000;
    height: fit-content;
    padding: 0;
    gap: 0px;
  }
  #contact-card h1 {
    font-size: 2em;
  }
  .contact-greeting {
    animation: none;
    text-align: center;
  }
  .form-row {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .label {
    margin-bottom: 5px;
  }

  #alert {
    height: 28px;
    overflow-y: scroll;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 80vw;
  }
}

@media screen and (max-width: 100px) {
  form {
    display: none;
  }
}
