.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  color: #fff;
}

.greeting {
  height: 80vh;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Card-related code */
#card_1 {
  --index: 1;
  /* Create View Timeline */
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;
  /* Attach animation, linked to the  View Timeline */
  animation: linear reveal both;
  animation-timeline: --revealing-image;
  backdrop-filter: blur(10px);

  /* Tweak range when effect should run*/
  animation-range: entry 5% cover 15%;
}

#card_1 > .card__content {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  /* background: rgb(255, 255, 255); */
  backdrop-filter: blur(15px);
  color: white;
  border-radius: 1em;
  overflow: hidden;
  display: grid;
  grid-template-areas: "text img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  min-height: 80vh;
  align-items: stretch;
  outline: var(--outline-width) solid lime;
}

#card_1 > .card__content > div {
  grid-area: text;
  width: 80%;
  place-self: center;
  text-align: left;
  grid-auto-flow: row;
  display: grid;
  gap: 1em;
  place-items: start;
}

/* Variations of the word samir using different ASCII symbols */
@keyframes samir {
  0% {
    content: "Samir";
  }
  10% {
    content: "5amir";
  }
  20% {
    content: "$4mir";
  }
  30% {
    content: "S@Wir";
  }
  40% {
    content: "Saɱ1r";
  }
  50% {
    content: "Sam!7";
  }
  60% {
    content: "SamiЯ";
  }
  70% {
    content: "54W17";
  }
  80% {
    content: "$@ɱ!Я";
  }
  90% {
    content: "red + blue";
  }
  100% {
    content: "purple";
  }
}

/* Smooth transition to expanded state */
.ui-text.show {
  opacity: 1;
  max-height: 1000px; /* Adjust to your desired maximum height */
  overflow: visible;
}

.ui-text {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.about-info {
}

.about-info > h2 > span::before {
  content: "Samir";
  color: #7241ff;
  animation: samir linear 5500ms infinite alternate;
  transition: all 0.2s ease-in-out;
}

.about-info:hover > h2 > span::before {
  color: #7241ff;
  animation: none;
}

.about-info > p {
  font-size: 1.2em;
  font-family: "Nunito";
}

.about-info > ul {
  padding: 0;
  margin: 0;
}

/** Icon Shine **/

.decorated {
  color: #00ffcc;
}

@keyframes text-shine {
  0% {
    color: #00ffcc;
  }
  50% {
    color: #ff6600; /* Change to the desired color at midpoint of the animation */
  }
  100% {
    color: #00ffcc;
  }
}

.about-info:hover .decorated {
  animation: text-shine 10s infinite;
}
