:root {
  --outline-width: 0px;
  --arrow-bg: #010314;
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: #010314;
}

/* Content Card */

.content {
  width: 100%;
  height: 100%;
}

.content-card {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 90vh;
  padding: 20px;
  /* margin: 200px; */
}

/* About Card */

#about-card {
  margin-top: 100vh;
}

.ui-text.show {
  opacity: 1;
  max-height: 1000px; /* Adjust to your desired maximum height */
  overflow: visible;
}

.ui-text {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.ui-text > ul {
  padding: 0;
  margin: 0;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.2em;
  font-family: "Nunito";
}

.about-info > h2 {
  margin: 0;
  padding: 0;
}

/** Icon Shine **/

.decorated {
  color: #00ffcc;
}

@keyframes text-shine {
  0% {
    color: #00ffcc;
  }
  50% {
    color: #ff6600; /* Change to the desired color at midpoint of the animation */
  }
  100% {
    color: #00ffcc;
  }
}

.about-info:hover .decorated {
  animation: text-shine 10s infinite;
}

/* Cards button */
.ui-btn {
  --btn-default-bg: #010314;
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #7241ff;
  --default-btn-color: #fff;
  --font-size: 16px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: "Nunito", Menlo, Roboto Mono, monospace;
}

/* button settings 👆 */

.ui-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
  border-radius: 10px;
  border: 2px solid #2a2b3a;
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
  background: var(--btn-default-bg);
  box-shadow: 0px 0px 10px 0px rgba(119, 68, 255, 0.7);
  border: 2px solid #7241ff;
}

.ui-btn:hover span,
.ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";}35%{content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

/* Skills */

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.selector-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.selector-container > h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  /* color: #7241ff; */
}

.skills-container {
  /* outline: white 2px solid; */
  width: 60vw;
  height: max-content;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: all 0.2s ease-in-out;
  cursor: grab;
  gap: 0 15px;
}

.skills-container:active,
.skills-container:active > div,
.skills-container:active > div:active {
  cursor: grabbing;
}

.skills-container > div {
  /* outline: #7241ff solid 1px; */
  padding: 2px;
  margin: 3px;
  opacity: 0.9;
  border-radius: 1em;
  user-select: none;
  font-size: small;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
  height: fit-content;
}

.skill {
  transition: all 0.2s ease-in-out;
  border-radius: 1em;
  margin: auto;
}

.skills-container > div:hover {
  cursor: grab;
  opacity: 1;
}

.skills-container > div:hover > .skill {
  transform: scale(1.05);
}

.skills-container > div:hover > .skill-name {
  max-height: 100px;
  opacity: 1;
}

.skill {
  height: 80px;
  width: 80px;
}

.skill-name {
  max-height: 0;
  font-family: "Nunito";
  font-size: 1.2em;
  font-weight: 600;
  user-select: text;
  cursor: text;
  margin-top: 15px;
  overflow: hidden; /* Hide overflowing content */
  opacity: 0; /* Start with opacity set to 0 */
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Faster transition */
}

/* <select> styles */
select {
  /* Reset */
  appearance: none;
  border: 2px solid #2a2b3a;
  outline: 0;
  font: inherit;
  /* Personalize */
  font-family: "Nunito";
  width: max-content;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
    transform: scale(1.05);
    border-color: #7241ff;
  }
  /* Hover style */
  &:hover {
    border-color: #7241ff;
  }
}

/* <option> colors */
option {
  color: black;
  background-color: var(--option-bg);
  display: flex;
  white-space: pre;
  min-height: 20px;
  padding: 0px 2px 1px;
  font-size: 1.2em;
  font-family: "Nunito";
  font-weight: 600;
  border-radius: 0.25em;
  cursor: pointer;
}

.skills-container::-webkit-scrollbar-thumb {
  background-color: #7241ff;
  border-radius: 10px;
  display: none;
}

.skills-container::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  display: none;
}

.skills-container:hover::-webkit-scrollbar-thumb {
  display: block;
}
