* {
  box-sizing: border-box;
}

:root {
  --primary-color: #4d4d4d;
  --secondary-color: #fff;
  --purple: #7241ff;
}

html {
  scroll-timeline: --page-scroll block;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #7241ff #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #7241ff;
  border: 3px solid #7241ff;
}

/* == End Scrollbar CSS == */

body {
  margin: 0px;
  font-family: "segoe ui";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background: url(../assets/bg.jpeg);
  background-position: center;
  background-size: cover;
  /* height: 300vh; */
}

/* Nav Bar */
.nav {
  height: fit-content;
  width: fit-content;
  /* position: relative; */
  /* make sticky to top */
  position: sticky;
  z-index: 1;
  backdrop-filter: blur(10px);
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-ham {
  display: none;
}

.nav > .nav-btns {
  display: flex;
  justify-content: center;
  font-size: 18px;
  gap: 10px;
}

.nav > .nav-btns > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-btns > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

/* Nav Buttons */

.decorated > a:visited {
  color: inherit;
}

.decorated > a {
  text-decoration: none;
  color: inherit;
}

.decorated > a:hover {
  text-decoration: underline;
}

/* Mobile Nav */
@media (max-width: 600px) {
  .nav {
    height: 50px;
    width: 100%;
    /* backdrop-filter: blur(10px); */
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-ham {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-ham > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-ham > label:hover,
  .nav #nav-check:checked ~ .nav-ham > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-ham > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-btns {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: url(../assets/menu.jpeg);
    background-position: center;
    background-size: cover;
    /* background-color: #333; */
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-btns > button {
    width: 150px;
  }

  .nav > #nav-check:not(:checked) ~ .nav-btns {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-btns {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
