#card_3 {
  --index: 3;
}

.card__content > h2 {
  font-family: "Nunito";
  font-weight: 300;
}

.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  /*Problem with this*/
  overflow: hidden;
}

.preview > figure {
  border-radius: 1em;
}

#card_3 > .card__content {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  /* background: rgb(255, 255, 255); */
  backdrop-filter: blur(15px);
  color: white;
  border-radius: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  max-height: 80vh;
  width: 80vw;
  outline: var(--outline-width) solid lime;
}

#card_3 > .card__content > div {
  grid-area: text;
  width: 80%;
  place-self: center;
  text-align: left;
  grid-auto-flow: row;
  display: grid;
  gap: 1em;
  place-items: start;
}
