:root {
  --primary-color: #fff;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.29em;
  --top-offset: 7.7vh;
  --fall-duration: 11.783s;
  --fall-delay: 3.075s;
}
.star:nth-child(2) {
  --star-tail-length: 6.77em;
  --top-offset: 92.85vh;
  --fall-duration: 8.523s;
  --fall-delay: 2.634s;
}
.star:nth-child(3) {
  --star-tail-length: 6.22em;
  --top-offset: 16.04vh;
  --fall-duration: 11.574s;
  --fall-delay: 6.725s;
}
.star:nth-child(4) {
  --star-tail-length: 6.91em;
  --top-offset: 16.46vh;
  --fall-duration: 8.559s;
  --fall-delay: 5.588s;
}
.star:nth-child(5) {
  --star-tail-length: 6.04em;
  --top-offset: 95.09vh;
  --fall-duration: 10.67s;
  --fall-delay: 1.054s;
}
.star:nth-child(6) {
  --star-tail-length: 6.77em;
  --top-offset: 31.54vh;
  --fall-duration: 8.785s;
  --fall-delay: 9.856s;
}
.star:nth-child(7) {
  --star-tail-length: 5.33em;
  --top-offset: 90.25vh;
  --fall-duration: 8.712s;
  --fall-delay: 2.841s;
}
.star:nth-child(8) {
  --star-tail-length: 6.74em;
  --top-offset: 7.78vh;
  --fall-duration: 8.982s;
  --fall-delay: 5.19s;
}
.star:nth-child(9) {
  --star-tail-length: 7.38em;
  --top-offset: 39.79vh;
  --fall-duration: 9.98s;
  --fall-delay: 4.432s;
}
.star:nth-child(10) {
  --star-tail-length: 5.46em;
  --top-offset: 11.05vh;
  --fall-duration: 9.378s;
  --fall-delay: 9.25s;
}
.star:nth-child(11) {
  --star-tail-length: 7.29em;
  --top-offset: 27.8vh;
  --fall-duration: 6.136s;
  --fall-delay: 2.363s;
}
.star:nth-child(12) {
  --star-tail-length: 6.66em;
  --top-offset: 41.24vh;
  --fall-duration: 7.134s;
  --fall-delay: 1.193s;
}
.star:nth-child(13) {
  --star-tail-length: 6.53em;
  --top-offset: 11.09vh;
  --fall-duration: 9.248s;
  --fall-delay: 8.442s;
}
.star:nth-child(14) {
  --star-tail-length: 6.94em;
  --top-offset: 45.71vh;
  --fall-duration: 9.498s;
  --fall-delay: 8.199s;
}
.star:nth-child(15) {
  --star-tail-length: 6.85em;
  --top-offset: 87.94vh;
  --fall-duration: 6.374s;
  --fall-delay: 6.711s;
}
.star:nth-child(16) {
  --star-tail-length: 6.1em;
  --top-offset: 97.39vh;
  --fall-duration: 11.259s;
  --fall-delay: 9.574s;
}
.star:nth-child(17) {
  --star-tail-length: 6.3em;
  --top-offset: 87.4vh;
  --fall-duration: 8.307s;
  --fall-delay: 2.042s;
}
.star:nth-child(18) {
  --star-tail-length: 6.63em;
  --top-offset: 62.68vh;
  --fall-duration: 7.383s;
  --fall-delay: 6.713s;
}
.star:nth-child(19) {
  --star-tail-length: 5.78em;
  --top-offset: 10.21vh;
  --fall-duration: 10.767s;
  --fall-delay: 2.065s;
}
.star:nth-child(20) {
  --star-tail-length: 6.54em;
  --top-offset: 13.91vh;
  --fall-duration: 7.299s;
  --fall-delay: 6.342s;
}
.star:nth-child(21) {
  --star-tail-length: 7.4em;
  --top-offset: 2vh;
  --fall-duration: 7.781s;
  --fall-delay: 4.867s;
}
.star:nth-child(22) {
  --star-tail-length: 5.71em;
  --top-offset: 24.69vh;
  --fall-duration: 10.858s;
  --fall-delay: 6.45s;
}
.star:nth-child(23) {
  --star-tail-length: 7.29em;
  --top-offset: 36.08vh;
  --fall-duration: 7.523s;
  --fall-delay: 7.683s;
}
.star:nth-child(24) {
  --star-tail-length: 6.97em;
  --top-offset: 24.53vh;
  --fall-duration: 11.414s;
  --fall-delay: 1.706s;
}
.star:nth-child(25) {
  --star-tail-length: 5.52em;
  --top-offset: 18.58vh;
  --fall-duration: 10.883s;
  --fall-delay: 4.611s;
}
.star:nth-child(26) {
  --star-tail-length: 7.47em;
  --top-offset: 7.34vh;
  --fall-duration: 11.879s;
  --fall-delay: 8.757s;
}
.star:nth-child(27) {
  --star-tail-length: 7.4em;
  --top-offset: 43.61vh;
  --fall-duration: 11.205s;
  --fall-delay: 4.488s;
}
.star:nth-child(28) {
  --star-tail-length: 6.09em;
  --top-offset: 26.48vh;
  --fall-duration: 10.86s;
  --fall-delay: 4.121s;
}
.star:nth-child(29) {
  --star-tail-length: 5.09em;
  --top-offset: 20.42vh;
  --fall-duration: 9.07s;
  --fall-delay: 7.097s;
}
.star:nth-child(30) {
  --star-tail-length: 5.21em;
  --top-offset: 67.64vh;
  --fall-duration: 11.016s;
  --fall-delay: 4.477s;
}
.star:nth-child(31) {
  --star-tail-length: 7.08em;
  --top-offset: 91.85vh;
  --fall-duration: 9.299s;
  --fall-delay: 7.342s;
}
.star:nth-child(32) {
  --star-tail-length: 5.95em;
  --top-offset: 10.82vh;
  --fall-duration: 10.237s;
  --fall-delay: 3.684s;
}
.star:nth-child(33) {
  --star-tail-length: 7.18em;
  --top-offset: 60.85vh;
  --fall-duration: 6.856s;
  --fall-delay: 1.914s;
}
.star:nth-child(34) {
  --star-tail-length: 5.87em;
  --top-offset: 91.6vh;
  --fall-duration: 10.799s;
  --fall-delay: 7.283s;
}
.star:nth-child(35) {
  --star-tail-length: 6.46em;
  --top-offset: 24.86vh;
  --fall-duration: 8.077s;
  --fall-delay: 7.476s;
}
.star:nth-child(36) {
  --star-tail-length: 6.5em;
  --top-offset: 74.76vh;
  --fall-duration: 6.442s;
  --fall-delay: 2.448s;
}
.star:nth-child(37) {
  --star-tail-length: 6.54em;
  --top-offset: 3.65vh;
  --fall-duration: 8.306s;
  --fall-delay: 4.574s;
}
.star:nth-child(38) {
  --star-tail-length: 7.1em;
  --top-offset: 5.2vh;
  --fall-duration: 7.784s;
  --fall-delay: 6.95s;
}
.star:nth-child(39) {
  --star-tail-length: 6.81em;
  --top-offset: 25.11vh;
  --fall-duration: 7.445s;
  --fall-delay: 0.85s;
}
.star:nth-child(40) {
  --star-tail-length: 6.37em;
  --top-offset: 5.59vh;
  --fall-duration: 8.759s;
  --fall-delay: 5.945s;
}
.star:nth-child(41) {
  --star-tail-length: 6.61em;
  --top-offset: 48.8vh;
  --fall-duration: 11.442s;
  --fall-delay: 5.603s;
}
.star:nth-child(42) {
  --star-tail-length: 6.59em;
  --top-offset: 34.84vh;
  --fall-duration: 6.203s;
  --fall-delay: 0.666s;
}
.star:nth-child(43) {
  --star-tail-length: 5.35em;
  --top-offset: 43.22vh;
  --fall-duration: 8.962s;
  --fall-delay: 4.261s;
}
.star:nth-child(44) {
  --star-tail-length: 7.27em;
  --top-offset: 13.48vh;
  --fall-duration: 10.528s;
  --fall-delay: 4.809s;
}
.star:nth-child(45) {
  --star-tail-length: 6.79em;
  --top-offset: 52.33vh;
  --fall-duration: 7.941s;
  --fall-delay: 4.579s;
}
.star:nth-child(46) {
  --star-tail-length: 5.57em;
  --top-offset: 30.96vh;
  --fall-duration: 6.586s;
  --fall-delay: 6.381s;
}
.star:nth-child(47) {
  --star-tail-length: 6.35em;
  --top-offset: 78.94vh;
  --fall-duration: 9.89s;
  --fall-delay: 9.431s;
}
.star:nth-child(48) {
  --star-tail-length: 6.92em;
  --top-offset: 82.6vh;
  --fall-duration: 10.519s;
  --fall-delay: 9.354s;
}
.star:nth-child(49) {
  --star-tail-length: 5.08em;
  --top-offset: 4.72vh;
  --fall-duration: 10.231s;
  --fall-delay: 0.037s;
}
.star:nth-child(50) {
  --star-tail-length: 5.18em;
  --top-offset: 49.28vh;
  --fall-duration: 8.28s;
  --fall-delay: 1.832s;
}
.star::before,
.star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

/* Individual Star Fixed */

.moon-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  /* Add any additional styling as needed */
}

.moon {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  animation: appear 2s ease-in-out 2s forwards,
    twinkling 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.moon:hover {
  animation-play-state: paused;
  /* Now it's a sun! */
  background-color: #ff0;
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.8), 0 0 40px rgba(255, 255, 0, 0.5);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes twinkling {
  0%,
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5),
      0 0 40px rgba(255, 255, 255, 0.3);
  }
}
